[submodule ".emacs.d/elisp/cucumber.el"]
	path = .emacs.d/elisp/cucumber.el
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule ".emacs.d/elisp/coffee-mode"]
	path = .emacs.d/elisp/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule ".emacs.d/elisp/emacs_chrome"]
	path = .emacs.d/elisp/emacs_chrome
	url = https://github.com/stsquad/emacs_chrome.git
[submodule ".emacs.d/elisp/graphviz-dot-mode"]
	path = .emacs.d/elisp/graphviz-dot-mode
	url = https://github.com/ppareit/graphviz-dot-mode.git
[submodule ".emacs.d/elisp/nxhtml"]
	path = .emacs.d/elisp/nxhtml
	url = git@github.com:emacsmirror/nxhtml.git
[submodule ".emacs.d/elisp/ruby-electric"]
	path = .emacs.d/elisp/ruby-electric
	url = https://github.com/qoobaa/ruby-electric.git
